name: Scrape Gold Price

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 3,6,10,13 * * *' # 9 AM, 12 PM, 4 PM, 7 PM Bangladesh Time (UTC+6)
  workflow_dispatch:

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20'

      - name: Run Scraper
        run: go run main.go

      - name: Commit and Push if changed
        run: |
          git config user.name "Automated Scraper"
          git config user.email "actions@users.noreply.github.com"
          git add fe/src/prices.csv fe/src/silver-prices.csv
          timestamp=$(date -u)
          git commit -m "Latest data: ${timestamp}" || exit 0
          git push
